*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 98%);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	height: 100vh
}

#heading {
	text-align: center;
}

#heading h1 {
	color: hsl(234, 12%, 34%);
	font-weight: 200;
	font-size: 32px;
}

#heading h2 {
	color: hsl(234, 12%, 34%);
	font-weight: 600;
	font-size: 33px;
}

#heading p {
	font-weight: 400;
	color: hsl(229, 6%, 66%);
	text-align: center;
	max-width: 550px;
	opacity: 0.8;
	font-size: 15px;
	margin-top: 5px;
}

.card {
	border-radius: 5px;
	height: 215px;
	margin-top: 30px;
	padding: 20px 30px;
	background: white;
	box-shadow: 0px 13px 40px -7px rgba(76,78,97,0.21);
}

.card h3 {
	color: hsl(234, 12%, 34%);
	font-weight: 600;
	font-size: 22px;
}

.card p {
	color: hsl(229, 6%, 66%);
	font-size: 13px;
	max-width: 280px;
	opacity: 0.8;
}

.card img {
	margin-left: 81%;
	margin-top: 14%;
}

.card#supervisor {
	border-top: 4px solid hsl(180, 62%, 55%);
}

.card#team-builder {
	border-top: 4px solid hsl(0, 78%, 62%)
}

.card#karma {
	border-top: 4px solid hsl(34, 97%, 64%);
}

.card#calculator {
	border-top: 4px solid hsl(212, 86%, 64%);
}

.cards-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.cards-mid-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media all and (max-width: 450px) {
	body { padding: 2rem; }
	.cards-container { flex-direction: column; }
	.card { height: 213px; }
	.card h3 { font-size: 17px; }
	.card p { 
		font-size: 13px;
		margin-top: 5px; 
	}
	.card img { margin-left: 73%; margin-top: 5%; }

	#heading { margin: 40px 0; }
	#heading h1 { font-size: 24px; }
	#heading h2 { font-size: 24px; }
	#heading p {
		font-size: 15px;
		margin: 0 19px;
		margin-top: 18px;
	}
}